/**
 * $breakpoint arg choices:
 * - bp-xs
 * - bp-s
 * - bp-m
 * - bp-l
 * - bp-xl
 *
 * 1em = 16px
 */
:root {
  --color-primary-light: #fac172;
  --color-primary-dark: #e25b45;
  --color-white: #fff;
  --color-grey: #f0f5f7;
  --color-grey-dark: #464646;
  --color-green: #adc965; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: sans-serif;
  background-color: var(--color-grey);
  color: var(--color-grey-dark); }

.container {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: [sidebar-start] 10rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-rows: 10rem repeat(2, min-content);
      grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; } }

.basket-item {
  display: grid;
  grid-template-columns: 4vh repeat(2, 1fr) 9vh;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.5rem 2.5rem; }
  .basket-item__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary-dark);
    cursor: pointer; }
  .basket-item__name {
    font-size: 1.6rem;
    font-weight: 700; }
  .basket-item__total {
    font-size: 1.6rem;
    font-weight: 700; }

.breadcrumb {
  padding: 2.5rem 0 0.5rem 2.5rem; }
  .breadcrumb__label {
    font-size: 1.4rem; }
  .breadcrumb__name {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700; }

.food {
  border-radius: 10px;
  overflow: hidden;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr) min-content;
  grid-template-rows: repeat(2, 1fr) min-content; }
  .food__img {
    width: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    transform: scale(1.1);
    transition: all 0.5s; }
  .food:hover .food__img {
    transform: scale(1.2);
    filter: brightness(90%); }
  .food__price {
    position: relative;
    margin: 1.5rem;
    color: var(--color-white);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    width: max-content;
    height: max-content;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 700;
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 1 / 2;
    grid-column: 1 / 2; }
  .food__name {
    position: relative;
    margin-left: 1.5rem;
    width: max-content;
    height: max-content;
    background-color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.8rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2; }
  .food__add-btn {
    position: relative;
    width: max-content;
    height: max-content;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    padding: 1.5rem;
    border-radius: 5px;
    grid-row: 3 / -1;
    grid-column: 2 / -1;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer; }
    .food__add-btn:hover {
      background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light)); }
  .food__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-white); }
  .food:hover {
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); }

.quantity {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  border: 1px solid var(--color-primary-dark);
  width: max-content;
  border-radius: 5px; }
  .quantity__num {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    padding: 0 1rem;
    font-size: 1.4rem; }
  .quantity__inc {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary-dark);
    fill: var(--color-white);
    cursor: pointer; }
  .quantity__dec {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary-dark);
    fill: var(--color-white);
    cursor: pointer; }
  .quantity__icon {
    height: 1rem;
    width: 1rem; }

.basket {
  grid-column: col-start 6 / full-end;
  padding: 1rem; }
  @media only screen and (max-width: 62.5em) {
    .basket {
      grid-column: full-start / full-end;
      grid-row: 3 / 4; } }
  @media only screen and (min-width: 87.5em) {
    .basket {
      grid-column: col-start 7 / full-end; } }
  .basket__header {
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    color: var(--color-white);
    padding: 1.5rem 2.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .basket__footer {
    display: grid;
    padding: 1.5rem 2.5rem;
    background-color: var(--color-white);
    grid-template-columns: repeat(2, 1fr) 9vh;
    grid-template-rows: repeat(3, 1fr);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  .basket__subtotal-text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 1.6rem; }
  .basket__subtotal-price {
    grid-row: 1 / 2;
    grid-column: 3 / -1;
    font-size: 1.6rem;
    font-weight: 700; }
  .basket__total-text {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 1.6rem; }
  .basket__total-price {
    grid-row: 2 / 3;
    grid-column: 3 / -1;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-primary-dark); }
  .basket__order-btn {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    background-color: var(--color-green);
    padding: 1rem 2rem;
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 5px;
    width: max-content;
    cursor: pointer; }

.food-list {
  padding: 1rem 1rem 1rem 5rem;
  grid-column: full-start / col-end 5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem; }
  @media only screen and (max-width: 62.5em) {
    .food-list {
      grid-row: 4 / 5;
      grid-column: full-start / full-end; } }
  @media only screen and (max-width: 75em) {
    .food-list {
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
      padding: 1rem 1rem 1rem 1rem; } }
  @media only screen and (min-width: 87.5em) {
    .food-list {
      grid-column: full-start / col-end 6;
      gap: 5rem; } }

.header {
  grid-column: full-start / full-end;
  padding: 1rem 1rem 1rem 5rem; }
  @media only screen and (max-width: 75em) {
    .header {
      padding: 1rem 1rem 1rem 1rem; } }
  .header__menu {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
  .header__title--main {
    font-size: 2.8rem;
    font-weight: 700; }
  .header__title--sub {
    font-size: 1.4rem;
    margin-top: 0.8rem; }
  .header__user {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-end: none;
    width: max-content;
    height: max-content;
    padding: 0.5rem 1rem;
    border-radius: 5px; }
  .header__user-name {
    color: var(--color-white);
    font-size: 1.6rem; }
  .header__user-photo {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem; }

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  min-height: 100vh; }
  @media only screen and (max-width: 75em) {
    .sidebar {
      flex-direction: row;
      justify-content: center;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      min-height: auto; } }
  .sidebar > *:not(:last-child) {
    margin-bottom: 1.8rem; }
    @media only screen and (max-width: 75em) {
      .sidebar > *:not(:last-child) {
        margin-bottom: 0;
        margin-right: 1.8rem; } }
  .sidebar__button {
    display: grid;
    fill: var(--color-grey-dark);
    justify-items: center;
    padding: 1rem;
    cursor: pointer;
    height: fit-content; }
    @media only screen and (max-width: 75em) {
      .sidebar__button {
        width: 8rem; } }
    .sidebar__button:hover {
      background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
      fill: var(--color-white);
      color: var(--color-white); }
  .sidebar__icon {
    height: 4rem; }
  .sidebar__text {
    margin-top: 0.5rem;
    font-size: 1.6rem; }
