/**
 * $breakpoint arg choices:
 * - bp-xs
 * - bp-s
 * - bp-m
 * - bp-l
 * - bp-xl
 *
 * 1em = 16px
 */
 @mixin respond($breakpoint) {
    @if $breakpoint == bp-xs {
        @media only screen and (max-width: 37.5em) { @content }; // 600px
    }
    
    @if $breakpoint == bp-s {
        @media only screen and (max-width: 50em) { @content }; // 800px;
    }

    @if $breakpoint == bp-m {
        @media only screen and (max-width: 62.5em) { @content }; // 1000px;
    }
    
    @if $breakpoint == bp-l {
        @media only screen and (max-width: 75em) { @content }; // 1200px
    }
    
    @if $breakpoint == bp-xl {
        @media only screen and (min-width: 87.5em) { @content }; // 1400px
    }
}