.basket {
  grid-column: col-start 6 / full-end;
  padding: 1rem;

  @include respond(bp-m) {
    grid-column: full-start / full-end;
    grid-row: 3 / 4;
  }

  @include respond(bp-xl) {
    grid-column: col-start 7 / full-end;
  }

  &__header {
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    color: var(--color-white);
    padding: 1.5rem 2.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__footer {
    display: grid;
    padding: 1.5rem 2.5rem;
    background-color: var(--color-white);
    grid-template-columns: repeat(2, 1fr) 9vh;
    grid-template-rows: repeat(3, 1fr);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__subtotal-text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 1.6rem;
  }

  &__subtotal-price {
    grid-row: 1 / 2;
    grid-column: 3 / -1;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__total-text {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 1.6rem;
  }

  &__total-price {
    grid-row: 2 / 3;
    grid-column: 3 / -1;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-primary-dark);
  }

  &__order-btn {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    background-color: var(--color-green);
    padding: 1rem 2rem;
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 5px;
    width: max-content;
    cursor: pointer;
  }
}
