.food-list {
  padding: 1rem 1rem 1rem 5rem;
  grid-column: full-start / col-end 5;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;

  @include respond(bp-m) {
    grid-row: 4 / 5;
    grid-column: full-start / full-end;
  }

  @include respond(bp-l) {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    padding: 1rem 1rem 1rem 1rem;
  }

  @include respond(bp-xl) {
    grid-column: full-start / col-end 6;
    gap: 5rem;
  }
}
