.header {
  grid-column: full-start / full-end;
  padding: 1rem 1rem 1rem 5rem;

  @include respond(bp-l) {
    padding: 1rem 1rem 1rem 1rem;
  }

  &__menu {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__title {
    &--main {
      font-size: 2.8rem;
      font-weight: 700;
    }

    &--sub {
      font-size: 1.4rem;
      margin-top: 0.8rem;
    }
  }

  &__user {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-end: none;
    width: max-content;
    height: max-content;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  &__user-name {
    color: var(--color-white);
    font-size: 1.6rem;
  }

  &__user-photo {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}
