.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  min-height: 100vh;

  @include respond(bp-l) {
    flex-direction: row;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    min-height: auto;
  }

  & > *:not(:last-child) {
    margin-bottom: 1.8rem;

    @include respond(bp-l) {
      margin-bottom: 0;
      margin-right: 1.8rem;
    }
  }

  &__button {
    display: grid;
    fill: var(--color-grey-dark);
    justify-items: center;
    padding: 1rem;
    cursor: pointer;
    height: fit-content;

    @include respond(bp-l) {
      width: 8rem;
    }

    &:hover {
      background-image: linear-gradient(
        to right bottom,
        var(--color-primary-light),
        var(--color-primary-dark)
      );
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
      fill: var(--color-white);
      color: var(--color-white);
    }
  }

  &__icon {
    height: 4rem;
  }

  &__text {
    margin-top: 0.5rem;
    font-size: 1.6rem;
  }
}
