.basket-item {
  display: grid;
  grid-template-columns: 4vh repeat(2, 1fr) 9vh;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.5rem 2.5rem;

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary-dark);
    cursor: pointer;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__total {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
