.food {
  border-radius: 10px;
  overflow: hidden;
  height: max-content;

  display: grid;
  grid-template-columns: repeat(1, 1fr) min-content;
  grid-template-rows: repeat(2, 1fr) min-content;

  &__img {
    width: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    transform: scale(1.1);
    transition: all 0.5s;
  }

  &:hover &__img {
    transform: scale(1.2);
    filter: brightness(90%);
  }

  &__price {
    position: relative;
    margin: 1.5rem;
    color: var(--color-white);
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    width: max-content;
    height: max-content;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 700;
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &__name {
    position: relative;
    margin-left: 1.5rem;
    width: max-content;
    height: max-content;
    background-color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.8rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  &__add-btn {
    position: relative;
    width: max-content;
    height: max-content;
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    padding: 1.5rem;
    border-radius: 5px;
    grid-row: 3 / -1;
    grid-column: 2 / -1;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(
        to right bottom,
        var(--color-primary-dark),
        var(--color-primary-light)
      );
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-white);
  }

  &:hover {
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  }
}
