.quantity {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  border: 1px solid var(--color-primary-dark);
  width: max-content;
  border-radius: 5px;

  &__num {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    padding: 0 1rem;
    font-size: 1.4rem;
  }

  &__inc {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary-dark);
    fill: var(--color-white);
    cursor: pointer;
  }

  &__dec {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary-dark);
    fill: var(--color-white);
    cursor: pointer;
  }

  &__icon {
    height: 1rem;
    width: 1rem;
  }
}
