*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(bp-l) {
    font-size: 50%;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--color-grey);
  color: var(--color-grey-dark);
}

.container {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 10rem [sidebar-end full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];

  @include respond(bp-l) {
    grid-template-rows: 10rem repeat(2, min-content);
    grid-template-columns:
      [full-start] 1fr [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] 1fr [full-end];
  }
}
